header {
    background-color: #a1001f;
    color: white;
    padding: 5px 20px; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;           
    left: 0;         
    width: 100%;      
    z-index: 500;
    
}

header img {
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding-left: -12vw;
    margin-right: 20vw;
}

ul li {
    display: inline;
}

 ul li a {
    color: white;
    font-family:  'Segoe UI', 'Arial', sans-serif; 
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}

form {
    display: flex;
    align-items: center;
}

form input[type="search"] {
    padding: 5px;
    margin-right: 10px;
}

form button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #777;
}
